@charset "utf-8";
.pcview_only, .imgbox {
    display: none;
}
.sidebar {
    width: 100px;
    margin-left: 20px;
}
aside h2 {
    font-size : 20px;
    font-weight: bold;
    color: green;
}
